.create-notes-container {
    height: 100vh;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.popup-section {
    background-color: white;
    height: 12.5rem;
    width: 31.3rem;
    padding: 1.3rem 0 1.3rem 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
}

.popup-section>h3,
.popup-section>div>strong {
    font-family: var(--font-family-roboto);
}

.popup-section>div>input {
    margin-left: 1.3rem;
    padding-left: 10px;
    width: 18.8rem;
    height: 2.2rem;
    border-radius: 1.4rem;
    border: 2px solid #CCC;
    background: #FFF;
    font-family: var(--font-family-roboto);
    letter-spacing: 0.8px;
}

.colors {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    height: 1.6rem;
    width: 1.6rem;
    margin-left: 10px;
}

.active {
    transform: scale(1.5);
}

.color1 {
    background-color: #B38BFA;
}

.color2 {
    background-color: #FF79F2;
}

.color3 {
    background-color: #43E6FC;
}

.color4 {
    background-color: #F19576;
}

.color5 {
    background-color: #0047FF;
}

.color6 {
    background-color: #6691FF;
}

.popup-section>button {
    background-color: black;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 0.5rem 2rem;
    font-family: var(--font-family-roboto);
    letter-spacing: 0.5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media screen and (max-width:500px) {
    .popup-section {
        height: 14rem;
    }
    .popup-section>div>input{
        width: 11rem;
        letter-spacing: 0;
    }
    .colors{
        height: 1rem;
        width: 1rem;
        
    }
    .popup-section>button{
        position: static;
    }
}